<h1>HandleBars config</h1>
<ul>
    <li>PORT: {{PORT}}</li>
    <li>MONGO_LOCAL: {{MONGO_LOCAL}}</li>
    <li>MONGO_ATLAS: {{MONGO_ATLAS}}</li>
    <li>SESSION_TIME: {{SESSION_TIME}} seg</li>
    <li>PERSISTENCE: {{PERSISTENCE}}</li>
    <li>nodeVersion: {{nodeVersion}}</li>
    <li>memoryUsage: {{memoryUsage}}</li>
    <li>execPath: {{execPath}}</li>
    <li>pid: {{pid}}</li>
    <li>fileProyect: {{fileProyect}}</li>
</ul>